---
Checks: >
    -*,
    readability-*,
    -readability-magic-numbers,
    -readability-identifier-length,
    -readability-function-cognitive-complexity,
    -readability-implicit-bool-conversion,
    -readability-qualified-auto,
    -readability-avoid-const-params-in-decls,
    -readability-simplify-boolean-expr,
    -readability-convert-member-functions-to-static,
    -readability-uppercase-literal-suffix,
    clang-analyzer-*,
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-too-small-loop-variable,
    -bugprone-branch-clone,
    -bugprone-switch-missing-default-case,
    performance-*,
    portability-*,
    modernize-*,
    -modernize-use-trailing-return-type,
    -modernize-use-nullptr,
    -modernize-use-override,
    -modernize-use-default-member-init,
    -modernize-use-ranges,
    -modernize-use-designated-initializers, 
    -modernize-use-nodiscard,
    -modernize-use-auto,
    cppcoreguidelines-*,
    -readability-enum-initial-value,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-pro-type-union-access,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    misc-*,
    -misc-unused-alias-decls,
    -misc-include-cleaner,
    -misc-non-private-member-variables-in-classes,
    -misc-use-internal-linkage,
    -misc-use-anonymous-namespace
WarningsAsErrors: '*'
HeaderFilterRegex: '^(?!.*/(_deps|tests/build)/).*$'
FormatStyle: none

# JUSTIFICATIONS FOR SOME OMITTANCES OF CHECKS:
#
# -modernize-use-designated-initializers:
#    would've been a good check, but unfortunately we're 
#    trying to support c++14, and this is a c++20 feature. 
#
# -modernize-use-nodiscard:
#    adding [[nodiscard]] is effectively useless imo. 
#    you're pretty much just adding a readability debt 
#
# -modernize-use-auto:
#    usually good, but abusing auto throughout the codebase
#    is a symptom of bad naming choices in the first place.
#
# -cppcoreguidelines-avoid-const-or-ref-data-members
#    llarm-emu uses the dependency injection pattern,
#    so this check is completely redundant