.vscode/
ideas/
archive/
**/build/
cmake_test/
name_ideas/
links.md
references/
src/*.png
src/*.md
todo.md
ideas.md
lol/
blog/
llarm_infrastructure.md
code_design_docs.md
tools/
internal_docs/
**/notes.md
CONTRIBUTING.md
tmpCMakeLists.txt
.cache/
gpu/
assets/private/
firmware/
**/*.gch
docs/development_docs.md
scripts/switch.sh
**/*.bin